Flask==3.0.0
Flask-Cors==4.0.0
python-dotenv==1.2.2
Werkzeug==3.1.8

pytest>=8.0.0
pytest-cov>=6.0.0
pytest-mock>=3.14.0

phue
yeelight
pydaikin
ShellyPy
python-kasa
broadlink
samsungtvws
soco
aiohttp
croniter
uptime
questionary
cowsay
rich